@import "../variables";

.project-card {
  user-select: none; /* Standard */
  hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.75),
      rgba(0, 0, 0, 0)
    );
  }
  background-image: linear-gradient(100deg, $firstGrey 00%, $firstGrey 80%);
  color: white;
  transition: all 200ms ease-in-out;
  box-shadow: -5px 7px 15px rgba(0, 0, 0, 0.527),
    10px -3px 20px rgba(255, 255, 255, 0.459);
  .project-card-title {
    font-size: 2em;
    font-family: $fatFont;
  }
  &:hover {
    transform: scale(0.99);
    box-shadow: inset 0 0 40px rgba(247, 247, 247, 0.404);
    background: radial-gradient(ellipse at top, $firstGrey, transparent);
    color: black;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    cursor: pointer;
    hr {
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.815),
        rgba(255, 255, 255, 0)
      );
    }
  }
  &:active {
    transition: all 0ms;
    transform: scale(0.95);
  }
}
